.contact-row,
.compact-contact {
  display: flex;
  gap: 6px;
}

.delete-small {
  background-color: #ffdddd;
  border: 1px solid red;
  padding: 2px 6px;
  cursor: pointer;
}

.tiny-btn {
  margin-top: 5px;
  font-size: 12px;
  padding: 3px 8px;
  cursor: pointer;
}

.active-btn { background:#3cb371; color:white; }
.inactive-btn { background:#777; color:white; }
