<div class="container">
  <aside class="sidebar">
    <div class="welcome">
      <h3>Welcome, {{ username }}</h3>
    </div>
    <ul>
      <li><a routerLink="dashboard">Dashboard</a></li>
      <li><a routerLink="new-shipment">New Shipment</a></li>
      <li><a routerLink="shipments">Shipments</a></li>
      <li><a routerLink="admin">Admin</a></li>
      <li><a routerLink="settings">Settings</a></li>
      <li><a routerLink="profile">Profile</a></li>
      <li><a routerLink="notifications">Notification</a></li>
      <li><a routerLink="/">Logout</a></li>
    </ul>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
